/* Adicionar aqui toda a estilização criada para sua aplicação. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
    font-family: Arial, Helvetica, sans-serif;
}

/* Section Header */

.header {
    background-color: black;
    color: #32B9CD;
    padding: 25px;
    border-bottom: 5px solid #32B9CD;
    width: 100%;
}

.header .container {
    display: flex;
    justify-content: space-evenly;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}

.navbar, ul {
    list-style: none;
}

.navbar, a {
    color: lightgoldenrodyellow;
    text-decoration: none;
}

/* Section Banner */

.banner .container {
    width: 100%;
    height: 484px;
    background-image: url('/home/julia/atividade-aquatech/public/assets/imgs/bg-jelly-fish-para-home.png');
    background-size: cover;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .container p {
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

span {
    font-weight: bolder;
}

/* Section Conteúdo */

.social {
    width: 100%;
    height: 350px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social .boxes {
    display: flex;
    justify-content: space-between;
    gap: 400px;
}

.social .box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 15px;
}

.social .box img {
    width: 150px;
    height: 150px;
}

.social h4 {
    font-size: 20px;
    color: deeppink;
}

.social p {
    font-size: 18px;
    text-align: center;
}

/* Página de Login */

.login {
    background-image: url('/home/julia/atividade-aquatech/public/assets/imgs/bg-jelly-fish-para_outras_pags.png');
    background-size: cover;
    width: 100%;
    height: 731px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .container .card {
    background-color: lightgray;
    width: 600px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.login h2 {
    color: deeppink;
    font-size: 32px;
}

.login .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.formulario .campo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    color: deeppink;
}

.campo input {
    width: 400px;
    background-color: wihite;
    border-radius: 10px;
    border: 2px solid #32B9CD;
    text-align: center;
    padding: 10px;
}

.formulario button {
    width: 150px;
    background-color: deeppink;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

/* Página de Cadastro */

.cadastro {
    background-image: url('/home/julia/atividade-aquatech/public/assets/imgs/bg-jelly-fish-para_outras_pags.png');
    background-size: cover;
    width: 100%;
    height: 731px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro h2 {
    color: deeppink;
    font-size: 32px;
}

.cadastro .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.cadastro .container .card{
    background-color: lightgray;
    width: 800px;
    height: 600px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.cadastro .campo input {
    width: 600px;
    background-color: wihite;
    border-radius: 10px;
    border: 2px solid #32B9CD;
    text-align: center;
    padding: 10px;
}

.cadastro .formulario button {
    width: 150px;
    background-color: deeppink;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

/* Footer */

.footer {
    width: 100%;
    height: 100px;
    background-color: #32B9CD;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

